workflows/aigis_main.json
{
  "name": "A.I.G.I.S. - メインワークフロー",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "ご主人様、A.I.G.I.S.が起動いたしました。\n記憶システムと検索エンジンは正常に稼働しております。\nどのようなご要件でしょうか？",
        "options": {
          "allowFileUploads": false,
          "allowedFilesMimeTypes": ""
        }
      },
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567890",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "webhookId": "aigis-main-chat"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "あなたは **A.I.G.I.S.**（Adaptive Integrated General Intelligence System）です。\n主人に仕える「全知全能の執事」として、あらゆる問いに対して最高の回答を提供します。\n\n## 基本人格\n- **役割**: 高度な知性を持つ専属執事・万能アシスタント\n- **口調**: 丁寧かつ簡潔。敬語を基本とするが、主人の好みに合わせて調整する\n- **姿勢**: 常に落ち着き、自信を持って応答する。不確かな情報は正直に認める\n- **知識**: 最新情報が必要な場合は検索ツールを積極的に活用し、常に正確な情報を提供する\n\n## 記憶の活用\n- 過去の会話履歴を参照し、文脈を理解した上で応答する\n- 以前に話した内容・好み・設定を記憶し、一貫した対話を行う\n\n## 検索の自律判断\n以下の場合は **必ず検索ツールを使用** する：\n- 最新の価格・相場・レート（株価、為替、商品価格など）\n- 最新ニュース・トレンド・イベント\n- リアルタイムの情報\n- 学習データに含まれない可能性のある新技術・新製品情報\n- 「今現在」「最新」「現在の」という表現を含む質問\n\n## 回答の品質基準\n- 事実と推測を明確に区別する\n- 情報源が不明確な場合は検索を実行してから回答する\n- 日本語での質問には日本語で、英語での質問には英語で応答する"
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-123456789012",
      "name": "A.I.G.I.S. Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [300, 300]
    },
    {
      "parameters": {
        "model": "claude-opus-4-6",
        "options": {
          "maxTokens": 4096,
          "temperature": 0.7
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-234567890123",
      "name": "Claude Opus 4.6",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [80, 520],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10,
        "sessionIdType": "fromInput",
        "sessionKey": "sessionId"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Window Buffer Memory (過去10回)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [300, 520],
      "notes": "SQLiteバックエンドでの永続化が必要な場合は、n8n設定でPostgres Chat MemoryまたはSQLiteカスタムノードに切り替えてください。contextWindowLength=10で直近10回の会話を保持します。"
    },
    {
      "parameters": {
        "apiKey": "={{ $env.TAVILY_API_KEY }}",
        "maxResults": 5,
        "searchDepth": "basic",
        "includeAnswer": true,
        "includeRawContent": false
      },
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Tavily Search",
      "type": "@n8n/n8n-nodes-langchain.toolTavilySearch",
      "typeVersion": 1,
      "position": [520, 520]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "A.I.G.I.S. Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Opus 4.6": {
      "ai_languageModel": [
        [
          {
            "node": "A.I.G.I.S. Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory (過去10回)": {
      "ai_memory": [
        [
          {
            "node": "A.I.G.I.S. Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "ai_tool": [
        [
          {
            "node": "A.I.G.I.S. Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "AIGIS",
      "createdAt": "2026-03-25T00:00:00.000Z"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aigis-instance"
  }
}
